html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /*HEADER*/
  /*MAIN*/
  /*ASIDE*/
  /* CENTERING ONLY */
  /*FOOTER*/
  /*MEDIA QUERY*/
}

html html,
html body, body html,
body body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html body, body body {
  background-color: #ddd;
}

html body,
html main,
html aside,
html footer, body body,
body main,
body aside,
body footer {
  margin-top: 50px;
}

html p, body p {
  font-family: 'Montserrat', sans-serif;
}

html header,
html .navbar-default, body header,
body .navbar-default {
  background-color: #ddd;
}

html .navbar-default, body .navbar-default {
  border-color: none !important;
}

html .navbar-fixed-top, body .navbar-fixed-top {
  border-width: 0;
}

html #brand,
html .navbar-default .navbar-nav > li > a,
html header h1,
html .arrow-down, body #brand,
body .navbar-default .navbar-nav > li > a,
body header h1,
body .arrow-down {
  color: #0abde3;
}

html .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav > li > a:hover {
  color: #095057;
}

html header nav a:after,
html .navbar-header a:after, body header nav a:after,
body .navbar-header a:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0%;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

html header nav a:hover:after,
html .navbar-header a:hover:after, body header nav a:hover:after,
body .navbar-header a:hover:after {
  width: 100%;
  background: #d38947;
}

html .welcome, body .welcome {
  padding: 300px;
  background: url("https://images.unsplash.com/photo-1518085250887-2f903c200fee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c8fd6dccf4d69335218f02ba7c81cdc&auto=format&fit=crop&w=1350&q=80") center center no-repeat fixed;
  background-size: cover;
}

html .upAndDown, body .upAndDown {
  transition: color 0.3s linear;
}

html .upAndDown:hover, body .upAndDown:hover {
  color: #d38947;
}

html .arrow-down a, body .arrow-down a {
  color: #0abde3;
}

html .arrow-down a:hover, body .arrow-down a:hover {
  transition: color 0.3s linear;
  color: #d38947;
}

html main, body main {
  background-color: #ddd;
}

html main h2, body main h2 {
  padding: 30px 0;
  color: #d38947;
  position: relative;
  text-align: center;
}

html main h2 span, body main h2 span {
  background: #ddd;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

html main h2:before, body main h2:before {
  background: #d38947;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

html h2:before, body h2:before {
  left: 0;
}

html main .container, body main .container {
  padding-bottom: 40px;
  border-bottom: 1px solid #d38947;
}

html .thumbnail, body .thumbnail {
  position: relative;
  overflow: hidden;
}

html .caption, body .caption {
  position: absolute;
  top: 0;
  right: 0;
  background: #d38947;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  opacity: 0;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

html .thumbnail .caption, body .thumbnail .caption {
  padding: 25% 0;
}

html aside, body aside {
  background-color: #DDDDDD;
  padding: 100px 0 100px 0;
  color: #535458;
}

html aside h3, body aside h3 {
  display: inline-block;
}

html .profile-picture, body .profile-picture {
  width: 150px;
  height: 100%;
}

html .skillbar, body .skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

html .skillbar-bar:before, body .skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

html .skillbar-bar, body .skillbar-bar {
  height: 3px;
  width: 0px;
  background: #323232;
  transition-property: width, background-color;
}

html .skillbar-title, body .skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

html .skill-bar-percent, body .skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

html footer, body footer {
  background-color: #ddd;
  color: #095057;
  margin-bottom: 30px;
}

html footer .social, body footer .social {
  margin: 0;
}

html footer h4, body footer h4 {
  margin-bottom: 0;
}

html footer a, body footer a {
  color: #095057;
  transition: color 0.3s linear;
  margin-right: 20px;
}

html footer a:hover, body footer a:hover {
  color: #d38947;
}

html footer ul,
html footer small, body footer ul,
body footer small {
  display: inline;
}

html footer small, body footer small {
  margin: 5px 20px;
  font-size: 0.7em;
}

html .list-inline > li, body .list-inline > li {
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  html .thumbnail .caption, body .thumbnail .caption {
    padding: 20% 0;
  }
  html .profile-picture.pull-right, body .profile-picture.pull-right {
    float: none !important;
    margin: 40px auto 0 auto;
  }
  html .description, body .description {
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  html .navbar-default .navbar-collapse, body .navbar-default .navbar-collapse {
    border: none;
    text-align: center;
  }
  html .navbar-default .navbar-collapse > li > a, body .navbar-default .navbar-collapse > li > a {
    display: inline-block;
    clear: both;
  }
  html .thumbnail .caption, body .thumbnail .caption {
    padding: 12% 0;
  }
  html .navbar-default .navbar-toggle, body .navbar-default .navbar-toggle {
    border: 1px solid #095057;
  }
  html .navbar-default .navbar-toggle .icon-bar, body .navbar-default .navbar-toggle .icon-bar {
    background-color: #095057;
  }
  html header nav a:hover:after,
  html .navbar-header a:hover:after, body header nav a:hover:after,
  body .navbar-header a:hover:after {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    background: #d38947;
  }
}

@media screen and (max-width: 660px) {
  html .welcome h1, body .welcome h1 {
    font-size: 4em;
  }
}

body {
  background-color: #ddd;
}

body, main, aside, footer {
  margin-top: 50px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
header, .navbar-default {
  background-color: #ddd;
}

.navbar-default {
  border-color: none !important;
}

.navbar-fixed-top {
  border-width: 0;
}

#brand, .navbar-default .navbar-nav > li > a, header h1, .arrow-down {
  color: #0abde3;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #095057;
}

header nav a:after, .navbar-header a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0%;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header nav a:hover:after, .navbar-header a:hover:after {
  width: 100%;
  background: #D38947;
}

.welcome {
  padding: 300px;
  background: url("https://images.unsplash.com/photo-1518085250887-2f903c200fee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c8fd6dccf4d69335218f02ba7c81cdc&auto=format&fit=crop&w=1350&q=80") center center no-repeat fixed;
  background-size: cover;
}

.upAndDown {
  transition: color 0.3s linear;
}

.upAndDown:hover {
  color: #D38947;
}

.arrow-down a {
  color: #0abde3;
}

.arrow-down a:hover {
  transition: color 0.3s linear;
  color: #D38947;
}

/*MAIN*/
main {
  background-color: #ddd;
}

main h2 {
  padding: 30px 0;
  color: #D38947;
  position: relative;
  text-align: center;
}

main h2 span {
  background: #ddd;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

main h2:before {
  background: #D38947;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h2:before {
  left: 0;
}

main .container {
  padding-bottom: 40px;
  border-bottom: 1px solid #D38947;
}

.thumbnail {
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  background: #D38947;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  opacity: 0;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

.thumbnail .caption {
  padding: 25% 0;
}

/*ASIDE*/
aside {
  background-color: #DDDDDD;
  padding: 100px 0 100px 0;
  color: #535458;
}

aside h3 {
  display: inline-block;
}

.profile-picture {
  width: 150px;
  height: 100%;
}

/*FOOTER*/
footer {
  background-color: #ddd;
  color: #095057;
  margin-bottom: 30px;
}

footer .social {
  margin: 0;
}

footer h4 {
  margin-bottom: 0;
}

footer a {
  color: #095057;
  transition: color 0.3s linear;
  margin-right: 20px;
}

footer a:hover {
  color: #D38947;
}

footer ul, footer small {
  display: inline;
}

footer small {
  margin: 5px 20px;
  font-size: 0.7em;
}

.list-inline > li {
  margin-top: 20px;
}

/*MEDIA QUERY*/
@media screen and (max-width: 990px) {
  .thumbnail .caption {
    padding: 20% 0;
  }
  .profile-picture.pull-right {
    float: none !important;
    margin: 40px auto 0 auto;
  }
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .navbar-default .navbar-collapse {
    border: none;
    text-align: center;
  }
  .navbar-default .navbar-collapse > li > a {
    display: inline-block;
    clear: both;
  }
  .thumbnail .caption {
    padding: 12% 0;
  }
  .navbar-default .navbar-toggle {
    border: 1px solid #095057;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #095057;
  }
  header nav a:hover:after, .navbar-header a:hover:after {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    background: #D38947;
  }
}

@media screen and (max-width: 660px) {
  .welcome h1 {
    font-size: 4em;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */